<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="icon" type="image/png" href="<%= data.baseUrl %>images/cabin.png">
		<link href="<%= data.baseUrl %>styles/main.css" rel="stylesheet">
		<% if (locals.title) { %>
		<title><%= locals.title %></title>
		<% } else { %>
		<title>Codes &amp; Credos by Ben Clinkinbeard</title>
		<% } %>
		<% if (locals.description) { %>
		<meta name="description" content="<%= locals.description %>">
		<% locals.description = null;} %>
		<script type="text/javascript" src="<%= data.baseUrl %>scripts/mixpanel.js"></script>
		<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
		<style type="text/css">
				#mc_embed_signup {
						margin-left: 2em;
						border: 1px solid black;
				}
		</style>
</head>
<body>
<nav>
		<h1 class="name">
				<a href="<%= data.baseUrl %>">Ben Clinkinbeard</a>
		</h1>

		<div class="social-media">
				<a href="https://github.com/bclinkinbeard" class="icon-github"></a>
				<a href="https://twitter.com/bclinkinbeard" class="icon-twitter"></a>
		</div>
</nav>
<div class="topbar">
		<div class="inner">
				<div class="form">
						<form name="header_signup"
						      action="http://benclinkinbeard.us3.list-manage.com/subscribe/post?u=6d07cdf61fbc0d9355e8a9a0c&amp;id=c34eca8564"
						      method="post">
								<div class="text"><strong>Hungry for Browserify, D3.js and other JS knowledge?</strong></div>
								<div class="button-container">
										<input class="input" type="email" name="EMAIL" placeholder="get@some.com">

										<a class="button"
										   onclick="document.header_signup.submit();"
										   href="#">Feed Me!</a>
								</div>
                <div class="noSpam">(No spam. Ever.)</div>
						</form>
				</div>

		</div>

</div>
<div class="content">
